@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.623);
}

.main__container{
    display: flex;
}

.sidebar{
    flex-basis: 30%;
    height: 100vh;
    padding: 3rem 1rem;
    transition: 0.5s linear;
    box-shadow: 3px 0px 20px -1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 0px 20px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 0px 20px -1px rgba(0,0,0,0.5);
    z-index: 10;

}
.main__content{
    flex-basis: 70%;
    /* background: linear-gradient(rgb(11, 55, 143), rgba(3, 27, 73, 0.993)); */
    min-height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white !important;
    flex-direction: column;
    position: relative;
    transition: 0.5s linear;
    overflow: auto;
}


.menu__container{
    margin-top: 2rem;
    transition: 0.5s linear;
}
.menu__item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem 2rem;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.5s linear;
    margin-top: 3px;
}
.menu__item i{
    color: rgb(11, 55, 143);
    font-size: 1.5rem;
}
.menu__item h4{
    font-weight: 500;
}
.menu__item:hover{
    background-color: rgba(11, 55, 143, 0.479);
}

.menu__container hr{
    margin: 2rem;
}
.menu__container p{
    position: absolute;
    bottom: 1rem;
    font-size: 0.9rem;
}



.main__content .input__container h2{
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.5s linear;
    text-align: center;
}
.main__container h2{
    transition: 0.5s linear;
}
.main__container h2:hover{
    letter-spacing: 4px;
}

.input__container{
    background: linear-gradient(rgb(11, 55, 143), rgba(3, 27, 73, 0.993));
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
.input__item i {
    color: white;
    margin-right: 1rem;
    font-size: 1.3rem;
}
.input__item input{
    background: transparent;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 8px;
    width: 50%;
    color: white;
}
.input__item input:active{
    border: none;
}

::placeholder{
    color: rgba(255, 255, 255, 0.623);
}
.input__container button{
    width: 40%;
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: white;
    color: rgb(11, 55, 143);
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s linear;

}
.main__content button:hover{
    background-color: rgb(11, 55, 143);
    color: white;
}

.main__content >  #menu-toggle{
    position: absolute;
    color: white;
    left: 1rem;
    top : 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: 0.5s linear;
}
#add-task{
    z-index: 1000;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    color: white;
    background-color: rgb(11, 55, 143);
    border-radius: 50%;
    padding: 0.8rem;
    cursor: pointer;
    transition: 0.5s linear;
}
#add-task:hover{
    background-color: rgba(11, 55, 143, 0.3);
    color: rgb(11, 55, 143);
}

.main__content > i:hover{
    background-color: rgba(255, 255, 255, 0.349);
}

.tasks__container{
    background-color: white;
    height: 100vh;
    display: none;
}
.tasks__header{
    background: linear-gradient(rgba(11,55,143,0.5),rgba(11,55,180,0.1) ), url('../assets/bg_tasks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 8rem 1rem 1rem;

}
.tasks__header h2,p{
    color: white;
}
.tasks__header h2{
    font-size: 1.7rem;
}
.tasks__header p{
    font-weight: 300;
}
.tasks__items__container{
    padding: 2rem;
}

.task__item{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 5px 0px 14px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 0px 14px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 0px 14px -1px rgba(0,0,0,0.4);
    margin-bottom: 2rem;
    transition: 0.7s linear;
    cursor: pointer;
}
.task__item:hover > .task__ribbon{
    width: 100%;
    border-radius: 8px;
}
.task__item:hover .task__desc h3{
    color: white;
}
.task__item:hover .task__desc p{
    color: white;
}
.task__item:hover .task__desc p i{
    color: white;
}
.task__item .task__ribbon{
    z-index: 1;
    background : linear-gradient(90deg,rgb(11, 55, 143), rgba(3, 27, 73, 0.993));
    height: 100%;
    border-radius: 8px 0 0 8px;
    width: 0.5rem;
    position: absolute;
    left: 0;
    transition: 0.5s linear;
}
.task__item input[type = "checkbox"]{
    margin-right: 2rem;
    z-index: 10;
}
.task__item > i {
    position: absolute;
    right: 1rem;
    color: rgb(209, 10, 10);
    z-index: 10;
}
.task__desc{
    z-index: 10;
}
.task__item .task__desc h3{
    font-weight: 600;
}
.task__item .task__desc p{
    text-align: left !important;
    color: grey;
    font-size: 0.8rem;
}



/* ==================MEDIA QURIES (MEDIUM DEVICES)=============== */

@media screen and (max-width:1024px){
       
    .input__container{
        justify-content: start;
        padding-top: 7rem;
    }
}

/* ==================MEDIA QURIES (SMALL DEVICES)=============== */

@media screen and (max-width:600px) {
    .sidebar{
        flex-basis: 0%;
        padding: 1rem;
    }
    .sidebar h3{
        font-size: 1rem;
        display: none;
    }
    .menu__item{
        padding: 1.2rem 0;
    }
    .menu__item h4{
        display: none;
    }
    .menu__container hr{
        margin: 0.2rem;
    }
    .input__item input{
        width: 80%;
    }
    .input__container{
        justify-content: start;
        padding-top: 5rem;
    }
    .task__item input{
        display: none;
    }
    .task__desc h3{
        font-size: 1rem;
        text-align: left;
    }
}